label.error {
    color: #ff3333;
}
.btn , .btn:hover {
    background: #303f9f;
}
.btn:hover , .btn {
    color: white;
}
.toggle-on , .toggle-on:hover {
    background: white;
    color: black;
}
.toggle-off, .toggle-off:hover {
    color: black;
    background: white;
}
table#admin-data-table img {
    width: 80%;
    margin: auto;
    display: block;
}

/*--sidebar css---*/
.sidebar-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;

}
.main {
    height: calc(100% - 50px);
    display: flex;
    flex: 1;
}
.sidebar {
    height: 100%;
    width: 220px;
    box-sizing: border-box;
    box-shadow: 0 0 2rem 0 rgb(0 0 0 / 5%);
    overflow: hidden;
    transition: width 0.5s ease;
}
.sidebar-container.nav-closed .sidebar,
.sidebar-container.nav-closed .header-logo {
    width: 0;
}
.sidebar ul {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.sidebar ul li {
    display: flex;
    align-items: center;
}
.sidebar ul li a {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    white-space: nowrap;
}
.sidebar ul li a.active,
.sidebar ul li a:hover {
    background: #e8ecef;
}
.sidebar ul li span {
    margin-left: 16px;
    font-size: 16px;
    font-weight: 100;
}
.sidebar ul li i {
    font-size: 18px;
    color: #111;
    font-weight: normal;
}
.sidebar-header {
    height: 50px;
    background: #303f9f;
    width: 100%;
    display: flex;
    align-items: center;
    flex-basis: 100%;
}
.sidebar ul li a.active i {
    color: #303f9e;
}

.site-logo path {
    fill: #fff;
}
.site-title {
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 400;
}
.header-search .button-menu {
    width: 28px;
    height: 28px;
    margin-right: 15px;
    background: none;
    border: 0;
    cursor: pointer;
}
.header-logo {
    display: flex;
    align-items: center;
    width: 220px;
    overflow: hidden;
    transition: width 0.5s ease;
}
.header-search .button-menu:focus {
    outline: none;
    border: none;
}
.header-search .button-menu svg path {
    fill: #fff;
}

.table-container {
    width: 80%;
    margin:0px auto;
}
/* jquery signature pad*/
.kbw-signature { width: 400px; height: 200px; }