/*--------------------- Copyright (c) 2020 --------------------------
[Master Stylesheet] 
Project: Medical Equipment - PPE Kit Responsive HTML Template
Version: 1.0.0 
Author: Kamleshyadav
 ------------------------------------------------------------------- 
[Table of contents] 
1. body 
2. top header
3. main header
4. banner
5. product
6. deal
7. testimonial
8. blog
9. partners
10. footer
11. header two
12. feature
13. blog two
14. instagram
15. feature two
16. product gallery
17. team
18. breadcrumb
19. about
20. service
21. help
22. shop
23. account
24. cart
25. checkout
26. contact
27. login
--------------------------------------------------------------------*/
body{
	font-family: 'PT Sans', sans-serif;
	color: #818899;
	font-size: 16px;
	font-weight: 300;
    line-height: 26px;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
    color: #242424;
}
a{
	color: #818899;
	transition: 0.3s;
}
a:hover{
	text-decoration: none;
	color: #3cbcff;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}

.center-align
{
    display:block;
    text-align:center;  
}
i.fa-spinner
{
    display:none;
    font-size:30px;
    color:#3cbcff; 
    margin:0 auto;  
}
.password-field , .confirm-password-field {
    position: relative;
}
.password-field span.fa , .confirm-password-field span.fa {
    position: absolute;
    right: 20px;
    bottom: 17px;
}
.cv-contact-form div.password-field , .cv-contact-form div.confirm-password-field {
    margin-bottom: 0px !important;
}


.spacer-top{
    padding-top: 80px;
}
.spacer-top-less{
    padding-top: 71px;
}
.spacer-bottom{
    padding-bottom: 80px;
}
.cv-btn{
    display: inline-block;
    min-width: 160px;
    height: 50px;
    line-height: 50px;
    background: #3cbcff;
    color: #fff;
    text-transform: capitalize;
    outline: none;
    padding: 0 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    border: none;
    border-radius: 30px;
    transition: 0.3s;
}
.cv-btn:hover{
    box-shadow: 0px 6px 20px 0px rgba(60, 188, 255, 0.5);
    transform: translateY(-5px);
    color: #fff;
}
.cv-btn:focus,input:focus,textarea:focus,button:focus{
    outline: none;
}
input {
    width: 100%;
    height: 50px;
    border: 1px solid #d4f0ff;
    padding: 0 20px;
    border-radius: 30px;
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* top header start */
.cv-top-header {
    height: 51px;
    background: #fff;
    display: flex;
    align-items: center;
}
.cv-top-header .row{
    align-items: center;
}
.cv-head-contact h3 {
    margin: 0;
    font-size: 16px;
}
.cv-head-icon ul li svg{
    width: 16px;
    height: 16px;
    fill:#3cbcff;
}
.cv-head-icon ul li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}
.cv-head-icon ul li:last-child {
    margin: 0;
}
.cv-head-icon {
    text-align: right;
}
.cv-head-icon ul li a{
    position: relative;
}
.cv-head-icon ul li a span {
    background: #3cbcff;
    min-width: 16px;
    height: 16px;
    position: absolute;
    text-align: center;
    line-height: 16px;
    font-size: 11px;
    border-radius: 100%;
    top: -2px;
    right: -12px;
    color: #ffffff;
    cursor: pointer;
}
/* top header end */
/* main header start */
.cv-main-header {
    height: 70px;
    display: flex;
    align-items: center;
    background: #3cbcff;
}
.cv-main-header .row,.cv-header-two .row {
    align-items: center;
}
.cv-header-two {
    box-shadow: 0px 10px 30px 0px rgba(60, 188, 255, 0.08);
    z-index: 9;
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
}
/* main header end */
/* banner start */
.cv-banner,.cv-testimonial,.cv-instagram,.cv-team,.cv-related-product {
    background: #f8fdff;
}
.cv-banner .row{
    align-items: center;
}
.cv-banner-text {
    padding: 150px 0;
}
.cv-banner-text h1 {
    font-size: 70px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 1px 0 16px;
}
.cv-banner-cat {
    margin-bottom: 10px;
    background: #3cbcff;
    display: inline-block;
    padding: 3px 20px;
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
}
.cv-banner-text .cv-btn,.cv-banner-two-text .cv-btn {
    margin-top: 17px;
}
.cv-banner-img{
    padding: 80px 0; 
    text-align: center;
}
.cv-banner-sale {
    color: #3cbcff;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.cv-banner-two-text h1{
    font-size: 60px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0px 0 8px;
}
.cv-banner-two-text {
    padding: 146px 0 150px;
    max-width: 560px;
}
.cv-banner-three-text{
    margin-top: 3px;
    padding: 106px 0 110px;
}
.cv-banner-three-text .cv-banner-cat {
    margin-bottom: 9px;
}
/* banner end */
/* new arrivals start */
.cv-product-box {
    border: 1px solid #d4f0ff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
}
.cv-product-data {
    padding: 19px 25px 25px;
}
.cv-shop .cv-product-data {
    padding: 19px 24px 20px;
}
.cv-product-img img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}
.cv-product-data p {
    margin: 0;
}
.cv-price-cart svg {
    width: 14px;
    height: 14px;
    fill: #fff;
    margin-right: 3px;
    margin-top: -3px;
}
.cv-price-cart {
    display: inline-block;
    background: #3cbcff;
    padding: 2px 10px;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
    border-radius: 3px;
    font-size: 14px;
}
.cv-price-cart:hover{
    color:#fff;
}
.cv-price-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0 5px;
    display: block;
    color: #242424;
}
.cv-product-icon ul li svg {
    width: 14px;
    height: 14px;
    fill: #fff;
}
.cv-product-icon ul li {
    transform: translateX(40px);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.cv-product-icon ul li:nth-child(1){
    transition-delay: 0.1s;
}
.cv-product-icon ul li:nth-child(2){
    transition-delay: 0.2s;
}
.cv-product-icon ul li:nth-child(3){
    transition-delay: 0.3s;
}
.cv-product-box:hover .cv-product-icon ul li {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
}
.cv-product-icon ul li a {
    background: #3cbcff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    margin-bottom: 3px;
    border-radius: 3px;
}
.cv-product-img {
    position: relative;
}
.cv-sale {
    background: #3cbcff;
    padding: 0 2px;
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    font-size: 14px;
    text-transform: capitalize;
}
.cv-product-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}
.cv-pdoduct-price {
    font-size: 14px;
    font-weight: 600;
    color: #3cbcff;
}
.cv-pdoduct-price del {
    margin-right: 5px;
    color: #818899;
    font-weight: 400;
}
.cv-product-img:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(60, 188, 255, 0.47), rgba(166, 221, 250, 0.2));
    z-index: 0;
    transform-origin: bottom center;
    transform: scaleY(0);
    transition: 0.5s;
    width: 100%;
}
.cv-product-box:hover .cv-product-img:after{
    transform: scaleY(1);
}
.cv-product-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}
.cv-heading {
    text-align: center;
    max-width: 650px;
    margin: 0 auto 43px;
}
.cv-heading h1 {
    font-size: 36px;
    font-weight: 600;
    color: #3cbcff;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.cv-heading p {
    margin: 0;
}
.cv-arrival,.cv-protection-kit,.cv-team,.cv-blog,.cv-blog-two,.cv-instagram,.cv-footer {
    padding-bottom: 50px;
}
/* new arrivals end */
/* hot deals start */
.cv-deal {
    background:linear-gradient(50deg, rgb(167, 221, 250), rgba(61, 187, 255, 0.49)),url(../../images/hot-deal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.cv-deal-box h2 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 17px;
}
.cv-deal-box h3 {
    font-size: 25px;
    margin-bottom: 14px;
    color: #3cbcff;
    margin-top: -6px;
}
.cv-deal-box .cv-btn{
    margin-top: 17px;
}
.cv-deal-box {
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.07);
    background: #fff;
    padding: 54px 70px 70px;
    border-radius: 10px;
}
p#me_timer {
    margin-bottom: 22px;
}
p#me_timer span {
    font-size: 23px;
    font-weight: 600;
    color: #444;
    padding: 5px;
    margin-right: 5px;
    min-width: 60px;
    max-width: 100px;
    min-height: 60px;
    max-height: 100px;
    line-height: 50px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #3cbcff;
}
/* hot deals end */
/* testimonial start */
.cv-testi-data {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
    background: #fff;
    padding: 44px 50px 73px;
    border-radius: 10px;
    position: relative;
    margin: 15px;
}
.cv-testimonial .cv-heading {
    margin-bottom: 28px;
}
.cv-testi-data p {
    margin: 0;
    font-size: 18px;
}
.cv-testi-img img {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 5px solid #d4f0ff;
}
.cv-testi-footer {
    display: flex;
    align-items: center;
    transform: translateY(-15px);
}
.cv-testi-img {
    width: 110px;
    transform: translate(70px, -30px);
}
.cv-testi-name h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
}
.cv-testi-name {
    width: calc(100% - 110px);
    padding-left: 130px;
}
.cv-testi-name p {
    margin-bottom: 0;
}
.cv-testi-data:after {
    position: absolute;
    content: '';
    border-top: 20px solid white;
    border-right: 20px solid rgba(56, 148, 185, 0);
    bottom: -20px;
    left: 200px;
}
.cv-testimonial{
    padding-bottom: 110px;
}
.swiper-button-prev,.swiper-button-next {
    background-image: none;
}
.swiper-button-prev:after, .swiper-button-next:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid #3cbcff;
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    margin: auto;
}
.swiper-button-prev:after {
    border-right: none;
    border-top: none;
    left: 8px;
}
.swiper-button-next:after {
    border-left: none;
    border-bottom: none;
    right: 8px;
}
.swiper-button-prev:before, .swiper-button-next:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    background: #3cbcff;
    top: 0;
    bottom: 0;
    margin: auto;
}
.swiper-button-prev:before {
    left: 8px;
}
.swiper-button-next:before {
    right: 8px;
}
.swiper-button-prev, .swiper-button-next {
    width: 40px;
    height: 40px;
    border: 2px solid #f8fdff;
    line-height: 40px;
    top: 0px;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
    transition: 0.3s;
    outline: none;
    background: #f8fdff;
}
.swiper-button-prev:hover, .swiper-button-next:hover{
    border-color: #3cbcff;
} 
.swiper-button-next {
    right: -20px;
}
.swiper-button-prev {
    left: -20px;
}
.cv-testimonial .row{
    position: relative;
}
.cv-arrow {
    width: 50px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
}
.cv-arrival .swiper-button-next {
    right: -10px;
}
.cv-arrival .swiper-button-prev {
    left: -10px;
}
/* testimonial end */
/* blog start */
.cv-blog-title {
    margin: 12px 0;
    font-size: 22px;
    display: block;
    color: #242424;
}
.cv-blog-data {
    padding: 21px 30px 30px;
}
.cv-blog-data p {
    margin-bottom: 0;
    display: inline-block;
}
.cv-blog-box {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    background: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
}
.cv-blog-img img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}
.cv-share-hover {
    display: inline-block;
    background: #3cbcff;
    padding: 0px 10px;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
    text-transform: capitalize;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    position: relative;
    margin-bottom: 0;
}
.cv-share-hover:after {
    position: absolute;
    content: '';
    border-top: 10px solid #3cbcff;
    border-right: 10px solid #0000ff00;
    transform: rotate(135deg) translate(4px,4px);
    top: 10px;
    right: -4px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.cv-blog-share:hover .cv-share-hover:after {
    opacity: 1;
    visibility: visible;
    transform: rotate(135deg) translate(0px,0px);
}
.cv-share-hover svg {
    width: 14px;
    margin-right: 5px;
    fill: #fff;
    height: 14px;
    vertical-align: middle;
    margin-top: -4px;
}
.cv-blog-share ul{
    display: inline-block;
    vertical-align: top;
}
.cv-blog-share ul li svg{
    width: 14px;
    height: 14px;
    fill: #fff;
}
.cv-blog-share ul li {
    display: inline-block;
    transform: translate(-10px, 0px);
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}
.cv-blog-share:hover ul li {
    transform: translateX(10px);
    opacity: 1;
    visibility: visible;
}
.cv-blog-share ul li:nth-child(1){
    transition-delay: 0.3s;
}
.cv-blog-share ul li:nth-child(2){
    transition-delay: 0.4s;
}
.cv-blog-share ul li:nth-child(3){
    transition-delay: 0.5s;
}
.cv-blog-share ul li a {
    background: #3cbcff;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s;
}
.cv-blog-share ul li a:hover{
    transform: translateY(-3px);
}
.cv-blog-share {
    margin-top: 18px;
    display: inline-block;
}
.cv-blog-date{
    font-size: 14px;
    color: #3cbcff;
}
/* blog end */
/* footer start */
.cv-footer {
    background: #242424;
}
.cv-foot-box {
    padding-bottom: 30px;
}
.cv-foot-box a, .cv-foot-box p,.cv-foot-box h2 {
    color: #fff;
}
.cv-foot-box a:hover{
    color: #3cbcff;
}
.cv-foot-box h2 {
    font-size: 25px;
    margin-bottom: 16px;
}
.cv-foot-logo img {
    margin-bottom: 22px;
}
.cv-foot-box ul li {
    margin-bottom: 10px;
}
.cv-foot-links ul li{
    position: relative;
    padding-left: 15px;
}
.cv-foot-links ul li:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    width: 6px;
    height: 6px;
    border-top: 2px solid #3cbcff;
    border-right: 2px solid #3cbcff;
    transform: rotate(45deg);
    margin: auto;
}
.cv-foot-box ul li:last-child,.cv-foot-social li:last-child,.cv-foot-box p {
    margin-bottom: 0px;
}
.cv-foot-social li svg {
    width: 14px;
    height: 14px;
    fill: #fff;
}
.cv-foot-social li a {
    width: 30px;
    height: 30px;
    display: block;
    background: #3cbcff;
    text-align: center;
    line-height: 27px;
    border-radius: 3px;
}
.cv-foot-social li a:hover {
    transform: translateY(-3px);
}
.cv-foot-box .cv-foot-social li {
    display: inline-block;
    margin: 0 10px 0 0;
}
.cv-foot-social {
    margin-top: 23px;
}
.cv-foot-newsletter form {
    display: flex;
    margin-bottom: 30px;
}
.cv-foot-newsletter form input {
    border-radius: 30px 0px 0px 30px;
}
.cv-foot-newsletter form .cv-btn {
    border-radius: 0px 30px 30px 0px;
    min-width: 120px;
}
.cv-foot-newsletter .cv-btn:hover{
    transform: translateX(0px);
    box-shadow: none;
}
.cv-foot-newsletter p {
    margin-bottom: 10px;
}
.cv-foot-payment a {
    margin-right: 5px;
    display: inline-block;
}
.cv-foot-payment a img {
    max-width: 50px;
}
.cv-foot-payment a:last-child {
    margin: 0;
}
.cv-copyright p {
    margin: 0;
    color: #fff;
    text-transform: capitalize;
}
.cv-copyright {
    text-align: center;
    background: #3cbcff;
    padding: 10px 0;
}
.cv-foot-newsbox h2 {
    font-size: 30px;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-weight: 600;
}
.cv-foot-newsbox h2,.cv-foot-newsbox p{
    color: #fff;
}
.cv-news-box .row {
    align-items: center;
}
.cv-news-box .cv-foot-newsletter form {
    margin-bottom: 0;
}
.cv-news-box {
    padding-bottom: 43px;
    margin-bottom: 50px;
    border-bottom: 1px solid #484848;
}
.cv-foot-newsbox p {
    margin-bottom: 0;
}
.cv-footer-two .cv-foot-payment img{
    margin: 20px 0 0;
}
.cv-foot-contact p span {
    color: #3cbcff;
}
.cv-foot-contact p {
    margin-bottom: 10px;
}
.cv-foot-contact p:last-child {
    margin-bottom: 0px;
}
.cv-footer-two {
    padding-top: 72px;
}
/* footer end */
/* partner start */
.cv-partners img {
    filter: opacity(0.5);
    transition: 0.3s;
    border: 1px solid #b0e3ff;
    padding: 20px;
    border-radius: 10px;
}
.cv-partners img:hover {
    filter: opacity(1);
}
/* partner end */
/* feature start */
.cv-feature-two {
    padding-top: 112px;
}
.cv-feature,.cv-feature-two {
    padding-bottom: 41px;
}
.cv-feature-box {
    display: flex;
    border: 1px solid #d4f0ff;
    padding: 20px 17px 13px 12px;
    border-radius: 10px;
    margin: 0 10px 30px;
}
.cv-feature-img svg{
    width:30px;
    height: 30px;
    fill: #3cbcff;
}
.cv-feature-img {
    width: 60px;
    height: 60px;
    margin-left: -45px;
    border: 1px solid #d4f0ff;
    padding: 10px;
    background: #fff;
    border-radius: 100%;
    line-height: 35px;
    text-align: center;
    transition: 0.3s;
}
.cv-feature-box:hover .cv-feature-img {
    transform: translateY(-5px);
}
.cv-feature-text{
    padding-left: 24px;
}
.cv-feature-text h3{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}
.cv-feature-text p{
    margin: 0;
    font-size: 15px;
}
/* feature end */
/* blog two start */
.cv-blog-two .cv-blog-box {
    display: flex;
}
.cv-blog-two .cv-blog-img,.cv-blog-two .cv-blog-data {
    flex: 1;
}
.cv-blog-two .cv-blog-img img {
    border-radius: 10px 0px 0px 10px;
    width: 100%;
    height: 100%;
}
.cv-blog-two .cv-blog-data {
    padding: 21px 30px 30px;
}
/* blog two end */
/* instagram start */
.cv-instagram-box{
    position:relative;
    overflow: hidden;
    transition: 0.3s;
    margin-bottom: 30px!important;
}
.cv-instagram-box, .cv-instagram-box img{
    border-radius: 10px;
}
.cv-instagram-box svg {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    fill: #fff;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.cv-instagram-box a:after{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #3cbcff;
    transform: scale(0) rotate(45deg);
    transition: 0.3s;
    border-radius: 10px;
    opacity: 0.9;
}
.cv-instagram-box:hover{
    transform:translate(0px, -5px);
    transition: 0.3s;
}
.cv-instagram-box:hover img{
    filter: blur(1px);
    transition-delay: 0.3s;
}
.cv-instagram-box:hover a:after{
    transform: scale(1);
}
.cv-instagram-box:hover svg{
    opacity: 1;
    visibility: visible;
}
/* instagram end */
/* testimonial two start */
.cv-testimonial-two {
    padding-bottom: 135px;
}
.cv-testimonial-two .cv-testi-name {
    width: 100%;
    padding-left: 0;
    margin: 25px 0 17px;
}
.cv-testimonial-two .cv-testi-footer{
    display: block;
    transform: translateY(0px);
}
.cv-testimonial-two .cv-testi-img {
    transform: translate(0px, 0px);
    margin: auto;
}
.cv-testimonial-two .cv-testi-data {
    padding: 40px 49px 33px;
    text-align: center;
}
.cv-testimonial-two .cv-testi-data:after{
    display: none;
}
.cv-testimonial-two .cv-arrow {
    bottom: -35px;
}
/* testimonial two end */
/* product two start */
.cv-product-two .cv-sale:after,.cv-product-three .cv-sale:after {
    position: absolute;
    content: '';
    border-top: 10px solid #3cbcff;
    border-left: 10px solid rgba(56, 148, 185, 0);
    bottom: -10px;
    right: 5px;
}
.cv-product-two .cv-sale,.cv-product-three .cv-sale {
    border-radius: 4px;
    width: 50px;
    height: 25px;
    line-height: 25px;
}
.cv-cart-box {
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: space-between;
}
.cv-cart-box .cv-price-cart {
    background: #fff;
    border: 1px solid #d4f0ff;
}
.cv-cart-box .cv-price-cart svg {
    fill: #3cbcff;
    transition: 0.3s;
}
.cv-cart-box .cv-price-cart {
    color: #818899;
    font-weight: 400;
    margin: 0;
}
.cv-cart-box .cv-price-cart:hover{
    color: #fff;
}
.cv-cart-box .cv-price-cart:hover svg{
    fill: #fff;
}
.cv-cart-box .cv-price-cart:hover {
    background: #3cbcff;
    border-color:#3cbcff;
}
.cv-product-button .cv-btn {
    height: 40px;
    line-height: 40px;
    min-width: 130px;
    background: #fff;
    color: #3cbcff;
}
.cv-product-button {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY( -20px);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
}
.cv-product-box:hover .cv-product-button{
    transform: translateY( 0px);
    opacity: 1;
    visibility: visible;
}
.cv-product-button .cv-btn:last-child{
    margin-top: 10px;
}
.cv-product-button .cv-btn svg {
    width: 14px;
    fill: #3cbcff;
    height: 14px;
    margin-right: 4px;
}
/* product two end */
/* feature two start */
.cv-feature-two .cv-feature-box {
    display: block;
    margin: 0 0 30px;
    text-align: center;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    background: #fff;
    border: none;
}
.cv-feature-two .cv-feature-img {
    width: 70px;
    height: 70px;
    margin: -50px auto 4px;
    line-height: 45px;
    box-shadow: 0px -2px 0px 0px #3cbcff;
    background: #fff;
    border: none;
}
.cv-feature-two .cv-feature-text {
    padding-left: 0;
    margin-bottom: 4px;
}
/* feature two end */
/* top header two start */
.cv-top-header-two {
    background: #3cbcff;
    display: flex;
    align-items: center;
    height: 51px;
}
.cv-top-header-two .row {
    align-items: center;
}
.cv-top-header-two h3{
    color: #fff;
    margin: 0;
    font-size: 16px;
}
.cv-head-email {
    text-align: right;
}
/* top header two end */
/* product three start  */
.cv-product-slider .row{
    position: relative;
}
.cv-product-three .cv-product-data {
    padding: 19px 25px 20px;
}
.cv-product-data i {
    font-size: 14px;
    margin-right: 1px;
    color: #3cbcff;
}
/* product three end */
/* blog three start */
.cv-blog-wid-img {
    width: 120px;
}
.cv-blog-wid-box {
    display: flex;
}
.cv-blog-wid-text {
    width: calc(100% - 120px);
    padding-left: 20px;
}
.cv-blog-wid-text .cv-blog-title {
    margin: 4px 0;
}
.cv-blog-wid-img img {
    border-radius: 10px;
}
.cv-blog-wid-text p{
    margin: 0;
}
.cv-blog-widget ul li {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #d4f0ff;
}
.cv-blog-widget ul li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border: none;
}
/* blog three end */
/* banner three start */
.cv-banner-img-three {
    position: relative;
    z-index: 1;
    padding: 80px 0 0;
    text-align: center;
}
.cv-banner-img-three:after {
    position: absolute;
    content: '';
    max-width: 430px;
    max-height: 430px;
    border-radius: 100%;
    background: #d4f0ff80;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    border: 30px solid #3cbcff3b;
}
.cv-banner-three-text {
    padding: 76px 0 80px;
}
/* banner three end */
/* team start */
.cv-team-text h2 {
    margin-bottom: 2px;
    font-size: 22px;
    display: block;
}
.cv-team-text {
    padding: 15px 20px 18px;
}
.cv-team-text p {
    margin: 0;
}
.cv-team-box {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    text-align: center;
    border-bottom: 3px solid #3cbcff;
}
.cv-team-img img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}
.cv-team-social li {
    display: inline-block;
}
.cv-team-social li svg {
    width: 14px;
    height: 14px;
    fill: #fff;
}
.cv-team-social li {
    margin-right: 5px;
}
.cv-team-social li a {
    width: 30px;
    height: 30px;
    display: block;
    background: #3cbcff;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
}
.cv-team-social li a:hover{
    transform:translateY(-5px);
}
.cv-team-social {
    margin: -30px 0 20px;
}
.cv-team-box{
    margin-bottom: 30px;
    transition: 0.3s;
}
.cv-team-box:hover{
    transform: translateY(-10px);
}
/* team end */
/* product gallery start */
.cv-product-gallery{
    padding-bottom: 65px;
}
.cv-product-tab ul li a {
    background: #fff;
    padding: 0 20px;
    min-width: 100px;
    display: block;
    text-transform: capitalize;
    color: #3cbcff;
    height: 40px;
    line-height: 39px;
    border-radius: 30px;
    border: 1px solid #d4f0ff;
    cursor: pointer;
}
.cv-product-tab ul li {
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}
.cv-product-tab {
    text-align: center;
    margin-bottom: 35px;
}
.cv-product-tab ul li:last-child {
    margin: 0;
}
.cv-product-tab ul li a.cv-product-active {
    background: #3cbcff;
    color: #fff;
    border-color: #3cbcff;
}
.cv-product-tab ul li a:hover {
    color: #3cbcff;
}
.cv-product-tab ul li a:hover.cv-product-active {
    color: #fff;
}
.cv-gallery-grid .cv-product-box {
    margin: 15px;
}
.cv-product-gallery .col-12,.cv-shop .col-md-8 {
    padding-left: 0;
    padding-right: 0;
}
/* product gallery end */
/* breadcrumb start */
.cv-breadcrumb {
    padding: 71px 0 73px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../images/breadcrumb.jpg);
}
.cv-breadcrumb-box h1 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #3cbcff;
    text-transform: capitalize;
}
.cv-breadcrumb-box {
    text-align: center;
}
.cv-breadcrumb-box ul li{
    display: inline-block;
    margin-right: 25px;
    position: relative;
    color: #fff;
    text-transform: capitalize;
}
.cv-breadcrumb-box ul li:last-child{
    margin-right: 0px;
}
.cv-breadcrumb-box ul li:after {
    position: absolute;
    content: '';
    right: -18px;
    top: 0;
    bottom: 0;
    border: 1px solid #fff;
    transform: rotate(15deg);
    width: 6px;
    height: 15px;
    border-top: 0;
    border-bottom: 0;
    margin: auto;
}
.cv-breadcrumb-box ul li:last-child:after {
    display: none;
}
.cv-breadcrumb-box ul li a{
    color: #fff;
}
.cv-breadcrumb-box ul li a:hover{
    color: #3cbcff;
}
/* breadcrumb end */
/* shop start */
.cv-shop {
    padding: 80px 0 65px;
}
.cv-shop .cv-gallery-grid .cv-product-box {
    margin: 15px;
    width: 29%;
}
.cv-search form{
    display: flex;
}
.cv-search form input {
    border-radius: 30px 0px 0px 30px;
}
.cv-search form .cv-btn {
    border-radius: 0px 30px 30px 0px;
    min-width: 120px;
}
.cv-widget {
    margin-bottom: 44px;
}
.cv-search .cv-btn:hover {
    transform: translateX(0px);
    box-shadow: none;
}
.cv-sidebar-title {
    font-size: 25px;
    font-weight: 600;
    color: #3cbcff;
    margin-bottom: 24px;
    text-transform: capitalize;
}
.cv-product-filter ul li,.cv-product-category ul li {
    margin-bottom: 15px;
    position: relative;
}
.cv-product-filter ul li a,.cv-product-category ul li a {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}
.cv-product-filter ul li a:hover,.cv-product-filter .cv-product-active{
    color: #3cbcff;
}
.cv-product-filter ul li a span {
    background: #3cbcff;
    min-width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
}
.cv-product-filter ul li:last-child,.cv-product-category ul li:last-child,.cv-widget:last-child{
    margin-bottom: 0;
}
.cv-product-category ul li:after{
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    top: 0px;
    bottom: 0;
    margin: auto 0 auto 8px;
    border-top: 1.5px solid #3cbcff;
    border-right: 1.5px solid #3cbcff;
    right: 0;
}
.cv-widget.cv-product-instagram {
    margin-bottom: 32px;
}
.cv-product-instagram ul li {
    display: inline-block;
    margin: 0 8px 12px 0px;
}
.cv-product-instagram ul li img {
    width: 100px;
    border-radius: 10px;
}
.cv-product-category .cv-sidebar-title {
    margin-bottom: 16px;
}
.cv-widget.cv-product-category {
    margin-bottom: 37px;
}
.cv-widget.cv-product-filter {
    margin-bottom: 42px;
}
.cv-shop-title {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    border: 1px solid #d4f0ff;
    border-radius: 3px;
    margin: 0 15px 35px;
}
.cv-shop-title p,.cv-shop-title .cv-sidebar-title {
    margin: 0;
}
.cv-shop-title p span {
    font-size: 20px;
    font-weight: 600;
    color: #3cbcff;
}
/* ----------------Range Slider------------------ */
.irs {
    position: relative; display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.irs-line {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none !important;
}
.irs-line-left, .irs-line-mid, .irs-line-right {
    position: absolute; display: block;
    top: 0;
}
.irs-line-left {
    left: 0; width: 11%;
}
.irs-line-mid {
    left: 9%; width: 82%;
}
.irs-line-right {
    right: 0; width: 11%;
}
.irs-bar {
    position: absolute; display: block;
    left: 0; width: 0;
}
.irs-slider {
    position: absolute; display: block;
    cursor: default;
    z-index: 1;
}
.irs-slider.type_last {
    z-index: 2;
}
.irs-min {
    position: absolute; display: block;
    left: 0;
    cursor: default;
}
.irs-max {
    position: absolute; display: block;
    right: 0;
    cursor: default;
}
.irs-from, .irs-to, .irs-single {
    position: absolute; display: block;
    top: 0; left: 0;
    cursor: default;
    white-space: nowrap;
}
.irs-grid {
    position: absolute; display: none;
    bottom: 0; left: 0;
    width: 100%; height: 20px;
}
.irs-with-grid .irs-grid {
    display: block;
}
.irs-grid-pol {
    position: absolute;
    top: 0; left: 0;
    width: 1px; height: 8px;
    background: #000;
}
.irs-grid-pol.small {
    height: 4px;
}
.irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important;
}
.irs {
    height: 47px;
}
.irs-line {
    height: 10px; top: 33px;
    background: #EEE;
    background: linear-gradient(to bottom, #DDD -50%, #FFF 150%); 
    border: 1px solid #CCC;
    border-radius: 16px;
    -moz-border-radius: 16px;
}
.irs-line-left {
    height: 8px;
}
.irs-line-mid {
    height: 8px;
}
.irs-line-right {
    height: 8px;
}
.irs-bar {
    height: 10px;
    top: 33px;
    border-top: 1px solid #3cbcff;
    border-bottom: 1px solid #3cbcff;
    background: linear-gradient(to top, #3cbcff 0%, #3cbcff 100%);
}
.irs-slider {
    top: 29px;
    width: 18px;
    height: 18px;
    background: #3cbcff;
    border-radius: 30px;
    cursor: pointer;
}
.irs-slider.state_hover, .irs-slider:hover {
    background: #f0f0f0;
}
.irs-min, .irs-max {
   display:none;
}
.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 14px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #3cbcff;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
/* ----------------Range Slider------------------ */ 
/* shop end */
/* about start */
.cv-about-content h2 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 600;
    padding-top: 1px;
}
.cv-about-content ul li:after {
    position: absolute;
    content: '';
    left: 0;
    top: -3px;
    bottom: 0;
    width: 6px;
    height: 6px;
    border-top: 2px solid #3cbcff;
    border-right: 2px solid #3cbcff;
    transform: rotate(45deg);
    margin: auto;
}
.cv-about-content ul li {
    position: relative;
    padding: 0px 15px 5px 15px;
    display: inline-block;
}
.cv-dr-name h3 {
    font-size: 22px;
    margin: 0;
    font-weight: 600;
    color: #3cbcff;
}
.cv-dr-box {
    margin-top: 18px;
    padding-top: 25px;
    border-top: 1px solid #d4f0ff;
}
.cv-dr-name p{
    margin-bottom: 0;
}
.cv-dr-signature{
    margin-top: 10px;
}
.cv-about .row{
    align-items: center;
}
.cv-about-content {
    margin-top: -8px;
    padding: 80px 0;
}
.cv-testimonial.cv-testi-about{
    background: #fff;
}
/* about end */
/* services start */
.cv-service-box {
    display: flex;
}
.cv-service-icon {
    width: 50px;
}
.cv-service-icon svg {
    width: 50px;
    height: 50px;
    fill: #3cbcff;
}
.cv-service-text {
    width: calc(100% - 50px);
    padding-left: 15px;
}
.cv-service-text h3 {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.cv-service-text p {
    margin: 0;
}
.cv-service-ul li{
    margin-bottom: 17px;
}
.cv-service-ul li:last-child{
    margin-bottom: 0px;
}
.cv-service-ul-right {
    text-align: right;
}
.cv-service-ul-right .cv-service-text {
    padding: 0 15px 0 0;
}
.cv-service-ul {
    padding-bottom: 73px;
}
/* services end */
/* help start */
.cv-help-box h2 {
    font-size: 36px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.cv-help-box {
    text-align: center;
}
.cv-help-box p {
    margin: 27px 0 0;
    font-size: 18px;
}
.cv-help{
    background: linear-gradient(45deg, rgba(60, 188, 255, 0.9),rgba(60, 188, 255, 0.9)),url(../images/service-bg.jpg);    
}
.cv-help-icon svg {
    width: 70px;
    height: 70px;
    fill: #fff;
}
.cv-help-icon{
    margin-bottom: 31px;
}
.cv-help-box h2,.cv-help-box p,.cv-help-box span{
    color: #fff;
}
.cv-help-quote h2 {
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
}
.cv-help-quote {
    text-align: center;
    padding-top: 47px;
    margin-top: 53px;
    border-top: 2px dashed #fff;
    position: relative;
}
.cv-help-quote:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: -9px;
    width: 16px;
    height: 16px;
    transform: rotate(-45deg);
    margin: auto;
    background: #fff;
}
.cv-get-btn {
    min-width: 200px;
    height: 60px;
    display: block;
    line-height: 57px;
    border: 2px dashed;
    color: #fff;
    max-width: 250px;
    margin: 30px auto 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 10px;
    padding: 0 30px;
}
.cv-get-btn:hover{
    color: #fff;
    transform: translateY(-5px);
}
/* help end */
/* blog page start */
.cv-tag ul li {
    display: inline-block;
    margin: 0px 1px 5px 0px;
}
.cv-tag ul li a {
    padding: 0px 20px;
    border: 1px solid #d4f0ff;
    display: block;
    height: 40px;
    line-height: 39px;
    min-width: 80px;
    text-align: center;
    border-radius: 30px;
}
.cv-tag ul li a:hover{
    border-color: #3cbcff;
}
.cv-pagination ul li {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
.cv-pagination ul li:last-child {
    margin: 0;
}
.cv-pagination ul li a {
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 27px;
    border-radius: 3px;
    position: relative;
}
.cv-pagination ul li a.cv-page-active, .cv-pagination ul li a:hover {
    background: #3cbcff;
    color: #fff;
}
.cv-pagination {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    background: #fff;
    border-radius: 10px;
    display: inline-block;
    padding: 15px;
}
.cv-pagination ul li:first-child a,.cv-pagination ul li:last-child a{
    border: none;
}
.cv-pagination ul li:first-child a:after,
.cv-pagination ul li:last-child a:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    margin: auto;
}
.cv-pagination ul li:last-child a:after{
    border-top: 2px solid #818899;
    border-right: 2px solid #818899;
}
.cv-pagination ul li:first-child a:after{
    border-bottom: 2px solid #818899;
    border-left: 2px solid #818899;
}
.cv-pagination ul li a:hover:after{
    border-color: #fff;
}
.cv-tag ul li:last-child, .cv-tag ul li:nth-last-child(2), .cv-tag ul li:nth-last-child(3) {
    margin-bottom: 0;
}
/* blog page end */
/* blog single start */
.cv-blog-single-box .cv-blog-data {
    padding: 21px 0px 0;
}
.cv-blog-single-box .cv-blog-data p {
    margin-bottom: 8px;
}
.cv-blog-flex {
    column-count: 2;
    column-gap: 30px;
    margin: 15px 0 22px;
}
.cv-blog-single-box .cv-blog-img img, .cv-blog-flex img {
    border-radius: 10px;
}
.cv-blog-comment {
    padding-top: 51px;
}
.cv-comment-box {
    display: flex;
}
.cv-comment-img {
    width: 100px;
}
.cv-comment-img img {
    border-radius:10px;
}
.cv-comment-text {
    width: calc(100% - 100px);
    padding-left: 20px;
}
.cv-comment-text h3 {
    margin-bottom: 8px;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #545b6d;
}
.cv-comment-text p {
    margin-bottom: 5px;
}
.cv-cmnt-date{
    padding-left:10px;
    color: #adb2be;
    font-size: 14px;
}
.cv-cmnt-date svg {
    width: 20px;
    fill: #adb2be;
    height: 20px;
    vertical-align: middle;
}
.cv-blog-comment ul li {
    list-style: none;
    margin-bottom: 30px;
    border-bottom: 1px solid #d4f0ff;
    padding-bottom: 26px;
}
.cv-blog-comment ul li ul>li:first-child {
    padding-top: 30px;
    margin-top: 26px;
    border-top: 1px solid #d4f0ff;
}
.cv-blog-comment ul {
    padding: 0;
    margin: 0;
}
.cv-blog-comment ul li ul{
    margin-left:50px;
}
.cv-blog-comment ul li:last-child {
    border:none;
    padding: 0;
    margin: 0;
}
.cv-cmnt-reply svg {
    width: 14px;
    fill: #3cbcff;
    margin-right: 5px;
    vertical-align: middle;
    transition:0.3s;
}
.cv-blog-cmnt-reply {
    padding-top: 70px;
}
.cv-shop-tab .cv-blog-cmnt-reply {
    padding-top: 40px;
}
.cv-blog-cmnt-reply input,.cv-blog-cmnt-reply textarea {
    margin-bottom: 20px;
}
.cv-blog-cmnt-reply textarea{
    width: 100%;
    height: 150px;
    border: 1px solid #d4f0ff;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    resize: none;
}
/* blog single end */
/* product single start */
.cv-prod-content .cv-price-title {
    margin: 0px 0 10px;
}
.cv-rating i {
    font-size: 14px;
    color: #3cbcff;
}
.cv-prod-content .cv-pdoduct-price {
    margin-bottom: 5px;
}
.cv-rating {
    margin-bottom: 10px;
}
.cv-cart-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.cv-prod-count{
    display: flex;
}
.cv-prod-count .cv-cart-quantity {
    margin-right: 20px;
}
.cv-cart-quantity button {
    width: 25px;
    height: 25px;
    border: 1px solid #d4f0ff;
    border-radius: 4px;
    background: #fff;
    position: relative;
    outline: none;
    transition: 0.3s;
}
.cv-cart-quantity button:after, .cv-cart-quantity button:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #3cbcff;
    margin: auto;
    width: 8px;
    height: 2px;
    transition: 0.3s;
}
.cv-cart-quantity button.cv-add:before {
    width: 2px;
    height: 8px;
}
.cv-cart-quantity input {
    width: 50px;
    border-radius: 4px;
    height: 35px;
    margin: auto 4px;
    padding: 0 5px;
    text-align: center;
    line-height: 35px;
}
.cv-pro-thumb-img {
    text-align: center;
    border: 1px solid #d4f0ff;
    padding: 30px;
    border-radius: 10px;
}
.cv-prod-category {
    margin-bottom: 5px;
}
.cv-prod-text{
    margin-top: 22px;
}
.cv-tab-content {
    margin-top: 22px;
}
.cv-shop-tab .nav-link {
    text-transform: capitalize;
    font-weight: 600;
    color: #818899;
    margin-right: 5px;
}
.cv-shop-tab .nav-link.active,.cv-shop-tab .nav-link:focus,.cv-shop-tab .nav-link:hover{
    border-color: #d4f0ff #d4f0ff transparent;
    color:#3cbcff ;
}
.cv-shop-tab .nav-tabs{
    border-color: #d4f0ff;
}
.cv-tab-content p{
    margin-bottom: 0;
}
.cv-prod-text p {
    margin-bottom: 10px;
}
#cv-pro-review .cv-blog-comment {
    padding-top: 8px;
}
.cv-shop-tab {
    padding-top: 33px;
}
/* product single end */
/* my account start */
.cv-account-box {
    display: flex;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
    background: #fff;
    border-radius: 10px;
    padding: 24px 30px 30px;
}
.cv-account-img {
    width: 250px;
    margin-left: -160px;
    margin-top: 34px;
    position: relative;
    height: fit-content;
}
.cv-account-text{
    width: calc(100% - 210px);
    padding-left: 30px;
}
.cv-account-img img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    border: 5px solid #3cbcff;
}
.cv-profile-svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.cv-profile-svg svg {
    width: 25px;
    height: 25px;
    fill: #ffffff;
    z-index: 1;
    cursor: pointer;
    transition: 0.3s;
}
.cv-profile-svg input {
    width: 255px;
    z-index: 2;
    opacity: 0;
    transform: translate(0px, -30px);
    cursor: pointer;
    height: 275px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.cv-profile-svg:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(60, 188, 255, 0.8);
    border-radius: 100%;
}
.cv-account-img:hover .cv-profile-svg {
    opacity: 1;
    visibility: visible;
}
.cv-ac-user-name h2 {
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
}
.cv-ac-user-name h2 span {
    font-size: 16px;
    color: #818899;
    font-weight: 400;
    vertical-align: middle;
    position: relative;
    padding-left: 50px;
}
.cv-ac-user-name h2 span:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    width: 20px;
    height: 1px;
    content: '';
    background: #818899;
    margin: auto;
}
.cv-account-info {
    border: 1px solid #d4f0ff;
    border-left: 0;
    border-right: 0;
    margin: 24px 0 30px;
    padding: 22px 0 23px;
} 
.cv-account-info ul li{
    display: flex;
    margin-bottom: 10px;
}
.cv-account-info ul li p {
    flex: 1;
}
.cv-account-info ul li p,.cv-account-info ul li:last-child{
    margin-bottom: 0;
}
.cv-ac-info-edit ul li{
    margin-bottom: 20px;
}
.cv-ac-info-edit ul li p{
    margin-bottom: 10px;
}
.cv-ac-info-edit {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.cv-edit-open .cv-ac-info-edit{
    padding-top: 22px;
    opacity: 1;
    visibility: visible;
    height: 100%;
}
.cv-edit-open .cv-btn.cv-edit-click,.cv-close-edit {
    display: none;
}
.cv-edit-open .cv-close-edit{
    display: block;
}
.cv-last-order table{
    width: 100%;
}
.cv-ac-info-edit .cv-btn {
    margin-top: 10px;
}
.cv-last-order table th {
    background: #3cbcff;
    color: #fff;
    padding: 12px 20px 13px;
    text-transform: capitalize;
}
.cv-last-order table th {
    border-right: 1px solid #d4f0ff;
}
.cv-last-order table th:last-child{
    border: none;
}
.cv-last-order table td {
    padding: 20px;
    text-transform: capitalize;
    border: 1px solid #d4f0ff;
    border-top: none;
    max-width: 250px;
}
.cv-cart-img img {
    width: 60px;
}
/* my account end */
/* login start */
.cv-login .modal-dialog {
    max-width: 740px;
}
.cv-login .modal-content{
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
    background: #fff;
    border-radius: 10px;
    border: none;
}
.cv-login .modal-body{
    padding: 0px;
}
.cv-login .modal{
    overflow-y: auto;
}
.cv-login-box {
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}
.cv-login button.close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    background: #F44336;
    opacity: 1;
    color: #fff;
    border-radius: 100%;
    border: 2px solid;
    font-size: 17px;
    z-index: 9;
}
.cv-login .close:not(:disabled):not(.disabled):focus,
.cv-login .close:not(:disabled):not(.disabled):hover{
    opacity: 1;
}
.cv-login-wlcm-box {
    width: 280px;
    padding: 30px;
    background: #3cbcff;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.cv-login-form {
    width: calc(100% - 280px);
    padding: 42px 50px 50px;
}
.cv-login-wlcm h2,.cv-login-form h2 {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 15px;
    text-transform: capitalize
}
.cv-login-wlcm {
    padding-bottom: 8px;
    z-index: 1;
    position: relative;
}
.cv-login-wlcm p {
    color: #ffffff;
    margin-bottom: 23px;
}
.cv-login-wlcm .cv-btn {
    background: transparent;
    border: 1px solid;
    line-height: 48px;
}
.cv-login-form h2{
    color: #3cbcff;
    margin-bottom: 5px;
}
.cv-login-form input,.pa-forgot-password {
    margin-top: 12px;
    display: block;
}
.cv-login-form .cv-btn {    
    display: block;
    margin: 23px auto 0;
}
.cv-login-form p {
    margin-bottom: 0;
    font-size: 14px;
}
.cv-login-wlcm-box:after, .cv-login-wlcm-box:before {
    position: absolute;
    content: '';
    width: 150px;
    height: 150px;
    background: #57c5ff;
    border-radius: 100%;
    bottom: -50px;
    left: -50px;
    z-index: 0;
}
.cv-login-wlcm-box:before {
    left: auto;
    bottom: 0;
    right: -50px;
    top: -50px;
}
div#signUpModal .cv-login-form .cv-btn,
div#forgotModal .cv-login-form .cv-btn {
    margin-top: 30px;
}
/* login end */
/* cart start */
.cv-last-order table td b {
    font-size: 20px;
    font-weight: 600;
    color: #242424;
}
.cv-cart-btn {
    text-align: right;
    margin-top: 20px;
}
td.cv-price {
    color: #3cbcff;
    font-weight: 600;
}
/* cart end */
/* checkout start */
.cv-billing-form {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
    background: #fff;
    border-radius: 10px;
    padding: 24px 30px 30px;
}
.cv-billing-form ul li {
    margin-bottom: 20px;
}
.cv-billing-form ul li:last-child {
    margin-bottom: 0px;
}
.cv-billing-form ul li p {
    margin-bottom: 10px;
}
.cv-billing .cv-account-box {
    align-items: center;
    padding: 24px 30px 23px;
}
.cv-billing .cv-account-img {
    margin-top: 0;
}
.cv-billing  .cv-account-info {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}
.cv-billing .cv-account-text {
    padding-left: 50px;
}
/* checkout end */
/* contact start */
.cv-contact-detail {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
    background: #fff;
    border-radius: 10px;
    padding: 34px 40px 40px;
}
.cv-contact-detail ul li {
    margin-bottom: 28px;
    display: flex;
    border-bottom: 1px solid #d4f0ff;
    padding-bottom: 28px;
}
.cv-contact-detail ul li:last-child {
    margin-bottom: 0;
    border: none;
    padding: 0;
}
.cv-contact-text h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}
.cv-contact-text p {
    margin-bottom: 0;
}
.cv-contact-icon svg{
    width: 20px;
    height: 20px;
    fill: #fff;
}
.cv-contact-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #3cbcff;
    border-radius: 10px;
}
.cv-contact-text {
    width: calc(100% - 50px);
    padding-left: 20px;
}
.cv-contact-form{
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
    background: #fff;
    border-radius: 10px;
    padding: 34px 40px 40px;
}
.cv-contact-detail .cv-sidebar-title {
    margin-bottom: 6px;
}
.cv-contact-detail .cv-sidebar-title ~ p {
    margin-bottom: 22px;
    line-height: 25px;
}
.cv-contact-form div.form-input {
    margin-bottom: 15px;
}
textarea{
    width: 100%;
    height: 150px;
    border: 1px solid #d4f0ff;
    padding: 10px 20px;
    border-radius: 10px;
    resize: none;
}
.cv-contact-form .cv-btn {
    margin-top: 23px;
}
.cv-contact-map {
    max-height: 450px;
    overflow: hidden;
}
.cv-contact-map iframe {
    width: 100%;
    height: 450px;
    filter: grayscale(1);
    margin-bottom: 0;
    border: none;
    padding-bottom: 0;
}
.cv-contact-form form{
    position: relative;
}
.response {
    color: #F44336;
    position: absolute;
    right: 0;
    bottom: 12px;
}
.response p{
    margin: 0;
}
/* contact end */

/*cart message box start*/
div.cart-message-box {
    background: #3cbcff;
    width: fit-content;
    padding: 10px 15px;
    position: fixed;
    z-index: 999;
    right: 50px;
    bottom:50px; 
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.4);
    display:none;
}
div.cart-message-box h3
{
    color:white; 
    font-size: 18px;
    margin-bottom: 0px;
}
/*cart message box end*/

/* pre loader start */
@keyframes cv-preloader {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
}
.cv-preloader div {
    position: absolute;
    animation: cv-preloader 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #3cbcff;
    transform-origin: 80px 82px;
}
.cv-ellipsis {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;background-color: #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.cv-preloader {
    margin: 0 auto;
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 200px;
    height: 200px;
    text-align: center;
    z-index: 9999;
}
/* pre loader end */
/* responsive start */
@media screen and (min-width:1200px){
    /* main header start */
    .cv-menu>ul>li {
        display: inline-block;
        margin-right: 25px;
        padding: 22px 0;
        position: relative;
    }
    .cv-menu>ul>li.cv-children-menu {
        margin-right: 40px;
    }
    .cv-menu>ul>li:last-child{
        margin-right: 0;
    }
    .cv-menu>ul>li>a{
        color: #fff;
    }
    .cv-header-two .cv-menu>ul>li>a{
        color: #818899;
    }
    .cv-header-two .cv-menu>ul>li>a:hover{
        color: #3cbcff;
    }
    .cv-nav-bar {
        text-align: right;
    }
    /* main header end */
    /* mega menu start */
    .cv-mega-menu,.cv-sub-mmenu {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: left;
        background: #fff;
        padding: 26px 30px 0px;
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.07);
        transform: scaleY(0);
        transition: 0.5s;
        transform-origin: top;
        visibility: hidden;
        opacity: 0;
        z-index: 9;
        border-radius: 0px 0px 3px 3px;
    }
    .cv-menu>ul>li.cv-mega-li {
        position: unset;
    }
    .cv-menu>ul>li:hover .cv-mega-menu,.cv-menu>ul>li:hover .cv-sub-mmenu{
        transform: scaleY(1);
        visibility: visible;
        opacity: 1;
    }
    .cm-menu-list {
        display: inline-block;
        width: 24%;
        margin-bottom: 23px;
    }
    .cm-menu-list ul li {
        margin-bottom: 10px;
    }
    .cm-menu-list ul li a {
        text-transform: capitalize;
    }
    .cm-menu-list ul li:last-child,.cv-sub-mmenu li:last-child {
        margin-bottom: 0;
    }
    .cm-menu-list ul li h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: #3cbcff;
        letter-spacing: 2px;
    }
    /* mega menu end */
    .cv-sub-mmenu {
        max-width: 200px;
        width: max-content;
        min-width: 130px;
        padding: 12px 19px 13px;
    }
    .cv-sub-mmenu li {
        margin-bottom: 5px;
    }
    .cv-children-menu:after {
        position: absolute;
        content: '';
        width: 5px;
        height: 5px;
        background: #ff000000;
        transform: rotate(-45deg);
        top: -1px;
        bottom: 0;
        margin: auto 0 auto 8px;
        border-bottom: 6px solid #fff;
        border-right: 6px solid rgba(60, 188, 255, 0);
    }
    /* header two start */
    .cv-header-two .cv-menu,.cv-header-two .cv-head-icon {
        display: inline-block;
    }
    .cv-header-two .cv-head-icon {
        padding-left: 25px;
    }
    .cv-header-two .cv-children-menu:after{
        border-bottom-color:#3cbcff;
    }
    /* header two end */
}
@media screen and (max-width:1199px){
    .cv-toggle-nav span {
        display: block;
        width: 18px;
        height: 2px;
        background: #fff;
        margin-bottom: 4px;
        transition: 0.3s;
    }
    .cv-toggle-nav span:nth-child(3){
        margin-bottom: 0px;
    }
    .cv-header-two .cv-toggle-nav span {
        background: #3cbcff;
    }
    .cv-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -270px;
        width: 260px;
        background: #fff;
        z-index: 9;
        transition: 0.3s;
        overflow-y: auto;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
    }
    .cv-open-menu .cv-menu{
        left: 0;
    }
    .cv-menu>ul li {
        display: block;
        margin: 0;
        border-bottom: 1px solid #d4f0ff;
    }
    .cv-menu>ul>li a {
        color: #222;
        padding: 10px 15px;
        display: block;
    }
    ul.cv-sub-mmenu li:first-child, .cm-menu-list ul li:first-child{
        border-top: 1px solid #d4f0ff;
    }
    .cv-menu>ul li:last-child {
        border: none;
    }
    .cm-menu-list ul li h3 {
        font-size: 18px;
        font-weight: 600;
        padding: 12px 15px;
        color: #3cbcff;
        text-transform: capitalize;
        margin-bottom: 0;
    }
    ul.cv-sub-mmenu li, .cm-menu-list ul li {
        padding-left: 20px;
    }
    .cv-open-menu .cv-toggle-nav span:nth-child(1) {
        transform: translate(1px, 6px) rotate(-48deg);
    }
    .cv-open-menu .cv-toggle-nav span:nth-child(2) {
        opacity: 0;
        visibility: hidden;
    }
    .cv-open-menu .cv-toggle-nav span:nth-child(3) {
        transform: translate(1px, -6px) rotate(48deg);
    }
    .cv-main-header .cv-toggle-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .cv-children-menu .cv-sub-mmenu, .cv-children-menu .cv-mega-menu {
        display: none;
    }
    li.cv-children-menu {
        position: relative;
    }
    li.cv-children-menu:after {
        position: absolute;
        content: '';
        right: 20px;
        top: 19px;
        bottom: 0;
        width: 6px;
        height: 6px;
        border-bottom: 2px solid #3cbcff;
        border-right: 2px solid #3cbcff;
        transform: rotate(45deg);
    }
    .cv-header-two .cv-head-icon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .cv-header-two .cv-head-icon ul {
        margin-right: 15px;
    }
    .cv-header-two .cv-head-icon ul li:last-child {
        margin-top: -6px;
    }
    .cv-feature-text {
        padding-left: 10px;
    }
    .cv-feature-box {
        padding: 15px 7px;
    }
    .cv-blog-two .cv-blog-box {
        display: block;
    }
    .cv-blog-two .cv-blog-img img {
        border-radius: 10px 10px 0px 0px;
    }
    .cv-banner-img-three:after {
        max-width: 370px;
        max-height: 370px;
    }
    .cv-gallery-grid .cv-product-box {
        width: 21%;
    }
    .cv-shop .cv-gallery-grid .cv-product-box {
        width: 45%;
    }
    .cv-feature-two .cv-feature-text {
        margin-bottom: 2px;
    }
    .cv-feature-two {
        padding-top: 117px;
    }
}
@media screen and (max-width: 991px){
    p#me_timer span {
        min-width: 40px;
        min-height: 40px;
        line-height: 30px;
        font-size: 16px;
    }
    .spacer-top{
        padding-top: 60px;
    }
    .spacer-top-less{
        padding-top: 51px;
    }
    .spacer-bottom,.cv-blog-two.cv-blog-three{
        padding-bottom: 60px;
    }
    .cv-banner-text,.cv-banner-img{
        padding: 60px 0;
    }
    .cv-banner-two-text {
        padding: 56px 0 60px;
    }
    .cv-banner-three-text{
        padding: 57px 0 60px;
    }
    .cv-banner-img-three {
        padding: 60px 0 0;
    }
    .cv-deal-box {
        padding: 34px 50px 50px;
    }
    .cv-arrival, .cv-protection-kit, .cv-team, .cv-blog, .cv-blog-two, .cv-instagram, .cv-footer  {
        padding-bottom: 30px;
    }
    .cv-testi-data {
        padding: 23px 29px 52px;
    }
    .cv-testi-img {
        transform: translate(40px, -30px);
    }
    .cv-testi-data:after {
        left: 150px;
    }
    .cv-testi-name {
        padding-left: 80px;
    }
    .cv-testimonial {
        padding-bottom: 90px;
    }
    .cv-testimonial-two {
        padding-bottom: 115px;
    }
    .cv-banner-text h1,.cv-banner-two-text h1 {
        font-size: 38px;
    }
    .cv-feature {
        padding-bottom: 21px;
    }
    .cv-footer-two {
        padding-top: 52px;
    }
    .cv-testimonial-two .cv-testi-data {
        padding: 30px 29px 23px;
    }
    .cv-banner-img-three:after {
        max-width: 270px;
        max-height: 270px;
    }
    .cv-feature-two .cv-feature-box {
        margin: 0 0 67px;
    }
    .cv-feature-two .col-md-6:nth-last-child(2) .cv-feature-box,
    .cv-feature-two .col-md-6:last-child .cv-feature-box {
        margin-bottom: 0;
    }
    .cv-feature-two {
        padding-top: 97px;
        padding-bottom: 51px;
    }
    .cv-gallery-grid .cv-product-box {
        width: 45%;
    }
    .cv-product-gallery {
        padding-bottom: 45px;
    }
    .cv-blog-three .cv-blog-box:first-child {
        margin-right: 30px;
    }
    .cv-blog-three .cv-blog-box {
        display: inline-block;
        width: 47%;
    }
    .cv-shop-title {
        margin-bottom: 35px;
    }
    .cv-shop-sidebar {
        margin-top: 39px;
    }
    .cv-shop {
        padding: 60px 0 16px;
    }
    .cv-about-content {
        margin-top: -8px;
        padding: 40px 0 60px;
    }
    .cv-service-img {
        text-align: center;
    }
    .cv-service-ul {
        padding-bottom: 0px;
    }
    .cv-service-ul-right {
        text-align: left;
        padding: 17px 0 53px;
    }
    .cv-blog-sidebar {
        margin-top: 54px;
    }
    .cv-contact-form{
        margin-top: 60px;
    }
    .cv-blog-comment {
        padding-top: 31px;
    }
    .cv-blog-cmnt-reply {
        padding-top: 50px;
    }
    .cv-breadcrumb {
        padding: 51px 0 53px;
    }
    .cv-product-single .cv-shop-sidebar {
        margin-top: 47px;
    }
    .cv-shop-tab .cv-blog-cmnt-reply {
        padding-bottom: 7px;
    }
    .cv-account-text {
        width: 100%;
    }
    .cv-account-img {
        width: 190px;
    }
    .cv-account-img img {
        width: 180px;
        height: 180px;
    }
    .cv-profile-svg input {
        width: 180px;
        height: 206px;
    }
    .cv-blog-widget ul li {
        margin-bottom: 25px;
        padding-bottom: 25px;
    }
    .cv-banner-three-text .cv-banner-cat {
        margin-bottom: 10px;
    }
    .cv-blog-two .cv-blog-img img{
        height: auto;
    }
}
@media screen and (max-width: 767px){
    .cv-top-header .cv-head-icon,.cv-head-contact,.cv-head-email{
        text-align: center;
    }
    .cv-top-header,.cv-top-header-two {
        height: auto;
        padding: 10px 0;
    }
    .cv-head-contact {
        margin-bottom: 6px;
    }
    .cv-banner-text{
        padding: 60px 0 0; 
    }
    .cv-banner-two-text {
        padding: 56px 0 0px;
    }
    .cv-deal-box h2 {
        font-size: 40px;
    }
    .cv-deal-box {
        padding: 39px 50px 50px;
    }
    .cv-news-box {
        padding-bottom: 50px;
    }
    .cv-footer-two .cv-foot-newsletter {
        margin-top: 23px;
    }
    .cv-banner-img-three:after,td.cv-d-none{
        display: none;
    }
    .cv-feature-two .col-md-6:nth-last-child(2) .cv-feature-box {
        margin-bottom: 67px;
    }
    .cv-gallery-grid .cv-product-box {
        width: 44%;
    }
    .cv-blog-two .cv-blog-box {
        width: 100%;
    }
    .cv-blog-two .cv-blog-box:first-child {
        margin-right: 0px;
    }
    .cv-shop .cv-gallery-grid .cv-product-box {
        width: 43%;
    }
    .cv-service-ul-right .cv-service-text {
        padding: 0 0 0 15px;
        order: 1;
    }
    .cv-service-ul-right {
        text-align: left;
    }
    .cv-help-box-two{
        padding-top: 53px;
    }
    .cv-help-box p {
        margin: 17px 0 0;
    }
    .cv-account-box {
        display: block;
        margin-left: 0px;
    }
    .cv-account-img{
        margin: 0;
    }
    .cv-account-text{
        padding-left: 0;
        padding-top: 24px;
    }
    .cv-billing .cv-account-text {
        padding-left: 0;
    }
    .cv-account-img {
        width: 180px;
    }
    .cv-last-order tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        border-top: 1px solid #d4f0ff;
    }
    .cv-last-order table td {
        max-width: 100%;
    }
    .cv-last-order table th,.cv-last-order table th:last-child{
        border: 1px solid #d4f0ff;
        border-top: none;
    }
    .cv-last-order tbody tr:last-child {
        margin-bottom: 0;
    }
    .cv-billing .cv-account-box {
        padding: 30px 30px 23px;
    }
    .cv-login-wlcm-box {
        width: 100%;
        display: block;
        padding: 32px;
    }
    .cv-login-box{
        display: block;
    }
    .cv-login-form {
        width: 100%;
        padding: 32px 40px 40px;
    }
    .cv-login .modal-dialog {
        max-width: max-content;
    }
    .cv-banner-three-text {
        padding: 57px 0 60px;
    }
    .cv-banner-img-three {
        padding: 0;
    }
    .cv-banner-two-text h1 {
        margin: 0px 0 9px;
    }
    .cv-banner-sale {
        margin-bottom: 11px;
    }
    .cv-banner-cat,.cv-banner-three-text .cv-banner-cat{
        margin-bottom: 15px;
    }
    .cv-banner-text h1 {
        margin: 0px 0 9px;
    }
}
@media screen and (max-width: 575px){
    p#me_timer span {
        min-width: 40px;
        min-height: 40px;
        line-height: 30px;
        font-size: 16px;
    }
    .cv-banner-cat {
        padding: 3px 10px;
    }
    .cv-deal-box {
        padding: 19px 30px 30px;
    }
    .cv-testi-name {
        padding-left: 70px;
    }
    .cv-feature-img {
        margin-left: 0;
    }
    .cv-feature-box {
        margin: 0px 0px 30px;
    }
    .cv-arrival .swiper-button-prev {
        left: 2px;
    }
    .cv-arrival .swiper-button-next {
        right: 2px;
    }
    .cv-gallery-grid .cv-product-box,.cv-shop .cv-gallery-grid .cv-product-box {
        width: 90%;
    }
    .cv-product-tab ul li {
        margin-bottom: 5px;
    }
    .cv-product-tab {
        margin-bottom: 30px;
    }
    .cv-contact-form,.cv-contact-detail {
        padding: 24px 30px 30px;
    }
    .cv-prod-content {
        padding-top: 35px;
    }
    .cv-login .modal-dialog {
        max-width: 100%;
    }
}
@media screen and (max-width: 480px){
    .cv-blog-wid-box,.cv-shop-title,.cv-comment-box,.cv-ac-user-name h2 span {
        display: block;
    }
    .cv-blog-wid-text {
        width: 100%;
        padding-left: 0;
        padding-top: 21px;
    }
    .cv-blog-widget ul li {
        margin-bottom: 30px;
        padding-bottom: 23px;
    }
    .cv-blog-two.cv-blog-three {
        padding-bottom: 53px;
    }
    .cv-shop-title .cv-sidebar-title {
        margin-bottom: 5px;
    }
    .cv-product-instagram ul li img {
        width: 85px;
    }
    .cv-contact-map iframe {
        height: 300px;
    }
    .cv-contact-map {
        max-height: 300px;
    }
    .cv-comment-text {
        width: 100%;
        padding-left: 0;
        padding-top: 9px;
    }
    .cv-blog-comment ul li ul {
        margin-left: 30px;
    }
    .cv-blog-flex {
        column-gap: 15px;
    }
    .cv-account-info ul li {
        display: block;
        margin-bottom: 15px;
    }
    .cv-ac-user-name h2 span:after{
        display: none;
    }
    .cv-ac-user-name h2 span{
        padding-left: 0;
    }
    .cv-account-info {
        margin: 26px 0 30px;
    } 

    /*----Responsive for message box---*/
    div.cart-message-box
    {
        right: 0px;
        left: 0px;
        margin: 0 auto;
        bottom: 50px;
    }
    div.cart-message-box h3 {
        font-size: 15px;
    }
}
/* responsive end */


.cv-top-header-two a {
    color: #fff;
    margin: 0;
    font-size: 16px;
}
i.remove-cart-icon {
    color: #3cbcff;
    font-size: 18px;
}
i.remove-cart-icon:hover
{
    cursor:pointer; 
}
.place-order-btn {
    width: 163px;
}

i#remove_upload {
    color: black;
    padding-left: 15px;
    cursor:pointer; 
}























